.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(218, 218, 24);
    padding: 1em;
    width: 95vw;
    margin: 1em;
    border-radius: 1em;
    box-sizing: border-box;
}